:root{
    --color1: #a2b9bc ;
    --color2: #b2ad7f;
    --color3: #878f99;
    --color4: #6b5b95;
    --font1: 'Courier New', Courier, monospace;
    --font2: 'Comic Sans MS', 'Comic Sans', 'cursive';
    --section-font-size: 40px;	
    --default-padding: 1% 20px 1% 280px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font1); /* Font perference in order */  
    overflow-x: hidden;  
}

/*side header Section */

header{
    font-family: var(--font1); /* Font perference in order */
    position: fixed;  
    z-index: 1;
    background-color: var(--color1);
    height: 100%;
    width: 250px; /* Width of side bar */
    text-align: center;
    overflow: hidden;
    border-right: 2px solid black;
}

header h1{
    font-family: var(--font2); /* Font perference in order */
    padding: 20px 0px;
    font-size: 40px;   
    display: block; 
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* last param is alpha (Transperency) */
    margin: auto;
    transition: 0.3s;
}

header h1 a{
    color: var(--color2);  
    text-decoration: none; 
    margin: 10px 0px;
}

header img{
    margin: 30px 0px;
    border-radius: 50%;
    border: 2px solid var(--color4);
    height: 140px;
    width: auto;
    transition: 0.5s;
}

header .navigation{
    padding: 10px;
    top: 76px;
    background-color: var(--color1);
    transition: 0.5s; /*  Transition effect */
}

header .navigation ul{
    list-style: none;
}

header .navigation ul li{
    margin-bottom: 10px;
}

header .navigation a{
    text-decoration: none; 
    font-size: 25px;
    transition: 0.3s;
    color: var(--color4);
    font-weight: 700;
}

.navigation a:hover{
    color: var(--color3);
}

/* to account for side nav */
section{
    border-color: black;
    border-width: 2px;
    padding: 1% 10px 1% 260px;
}

/* Hero Section */

.hero{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),url('../images/Fabio_CN_Tower.jpg');
    /* Image position and scaling for all screens */
    background-size: 100%;
    background-attachment: local ;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    height: 700px;
    width: 100%;
    opacity: 0.9;
    transition: 0.3s;
}

.hero-subtitle{
    color: var(--color1);
    position: relative;
    top: 80%;
    left: 70%;
    font-size: 1.25vw;
}

.hero-subtitle a{
    text-decoration: none;
    color: var(--color3);
}
/* About me Section */

.intro{
    text-align: center;
    background-color: var(--color3);
}

.intro h2{
    margin: 10px 0;
    font-size: var(--section-font-size);
}

.intro p{
    line-height: 1.4;
    padding: 1px 30px;
}

/* Work Section */
.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: var(--default-padding);
    background-color: var(--color2);
}

.work-subtitle{
    width: 100%;
    padding-bottom: 1%;
}

.work-subtitle h2{
    font-size: var(--section-font-size);
    padding-bottom: 0.3%;
}

.project{
    position: relative;
    height: 20vw;
    width: 45%;
    min-width: 500px;
    margin: 10px;
}

.project .project-name{
    position: absolute;
    top: 80%;
    left: 5%;
    color: var(--color2); 
    margin: 0; 
    padding: 0;
    font-size: 1vw;
}

.project .project-image{
    text-decoration: none;
}

.project .project-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left top;
    border: 2mm solid var(--color4);
    border-radius: 2em;

 }

/* Larger img */

.large-img{
    height: 30vw;
    width: 100%;
}

.large-img .large-h3{
    top: 85%;
    font-size: 2vw;
}

.contact{
    padding: var(--default-padding);
    background-color: var(--color3);
}

.contact h2{
    font-size: var(--section-font-size);
}

.contact ul li{
    font-size: 20px;
    list-style: none;
}

.footer{
    background-color: var(--color4);
    color: black;
    padding: 1% 10px 1% 260px;
}


@media screen and (max-width: 1100px) { /* max width for 1100, proprties will have theses */
    header{
        width: 200px;
    }

    header h1{
        font-size: 30px; 
    }

    header .navigation a{
        font-size: 20px;
    }

    header img{
        margin: 30px 0px;
        height: 80px;
        width: auto;
    }

    section{
        padding: 1% 1% 1% 210px;
    }

    .hero{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),url('../images/Fabio_CN_Tower.jpg');
        /* Image position and scaling for all screens */
        background-size: 100%;
        background-attachment: local ;
        background-repeat: no-repeat;
        background-position: 30% 60%;
        height: 400px;
        width: 100%;
        opacity: 0.9;
    }

    .intro h2, .work h2, .contact h2{
        font-size: 30px;
    }

    .project, .large-img{
        min-width: 300px;
    }

    .large-img img, .project a img{
        border: 1mm solid var(--color4);
    }

    

}

@media screen and (max-width: 768px) { /* max width for 768, proprties will have theses */
    header .navigation a{
        text-decoration: none; 
        font-size: 15px;
        transition: 0.3s;
        color: var(--color1);
    }
}

@media screen and (max-width: 575px) { /* max width for 575px, proprties will have theses */
    header{
        position: sticky;  
        padding: 5px;
        margin: 1px;
        z-index: 1;
        background-color: var(--color3);
        color: var(--color1);
        width: 100%; /* Width of side bar */
        border-bottom: 1px solid black;
    }
    
    header .navigation{
        padding: 0px;
    }

    header img{
        margin: 10px 0px;
        height: 80px;
        width: auto;
    }

    section{
        padding: 1%;
    }

    .project img{
        margin: 10px;
        height: 50px;
        width:  50px;
        object-fit: cover;
        object-position: 10% 60%;
        border: 1mm solid var(--color4);
    }

}