:root{
    --color1: rgb(9, 0, 155) ;
    --color2: rgb(15, 0, 255);
    --color3: rgb(217, 140, 0);
    --color4: rgb(255, 164, 0);
    --font1: 'Courier New', Courier, monospace;
    --font2: 'Comic Sans MS', 'Comic Sans', 'cursive';	
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font2); /* Font perference in order */
    overflow-x: hidden;
    
}

section{
    border-color: black;
    border-width: 2px;
    padding: 1% 1% 13% 0;
}

header{
    position: fixed;  
    padding: 10px;
    z-index: 1;
    background-color: var(--color3);
    color: var(--color1);
    height: 100%;
    width: 12%;
    text-align: center;
    overflow: hidden;
    border-right: 2px solid black;
}

header h1{
    font-size: 40px;   
    display: block; 
    color: var(--color1);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* last param is alpha (Transperency) */
}

header h1 a{
    color: var(--color2);  
    text-decoration: none;  
}

header img{
    margin: 40px 0px;
    border-radius: 50%;
    border: 1px solid var(--color2);
    padding: 1px;
    height: 120px;
    width: auto;
}
header .navigation{
    padding: 10px;
    top: 76px;
    background-color: var(--color3);
    transition: 0.5s; /*  Transition effect */
}

header .navigation ul{
    list-style: none;
}

header .navigation ul li{
    margin-bottom: 20px;
}

header .navigation a{
    text-decoration: none; 
    font-size: 25px;
    transition: 0.3s;
    color: var(--color1);
}

.navigation a:hover{
    color: var(--color2);
}

/* Hero Section */

.hero{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),url('../images/Fabio_CN_Tower.jpg');
    /* Image position and scaling for all screens */
    background-size: 100%;
    background-attachment: local ;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    height: 700px;
    width: 100%;
}

.hero-subtitle{
    color: var(--color1);
    position: relative;
    top: 80%;
    left: 80%;
}

.hero-subtitle a{
    text-decoration: none;
    color: var(--color3);
}

.work{
    display: flex;
    flex-wrap: wrap;
}

.work h2{
    width: 100%;
}




.project img{
    margin: 10px;
    height: 400px;
    width:  400px;
    position: center;
    border: 4mm ridge var(--color4);
}